/* imports fonts*/
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;400;800&family=Commissioner:wght@100;400;800&display=swap');
/* imports styles */
@import url('header.css');
@import url('nav.css');
@import url('index.css');
@import url('about.css');
@import url('lunch_menu.css');
@import url('dinner_menu.css');
@import url('take_away.css');
@import url('footer.css');

/* General settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

/* Minimuns screen is for Galaxy S5 witha 360px width screen */
/* Maximuns screen for desktop 1366px */
body {
    font-family: 'Assistant', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    min-width: 360px;
    max-width: 1366px;
    width: 100%;
}

h1 {
    font-family: 'Commissioner', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.2;
    color: #56000C;
}

/* Defualt style for table */
table, th, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}